doctype html
html
    head
        meta(charset='utf-8')
        title A Sample App of Vue + Element-ui.js with gulp + webpack
        
    body
        div(id="app")
        script(type='text/javascript', src="./js/vender.js", charset="utf-8")
        script(type='text/javascript', src="./js/app.js", charset="utf-8")
