doctype html
html
    head
        meta(charset='utf-8')
        title A Sample of gulp + webpack + jade + vue
        
        
    body
        div(id="app")
        script(type='text/javascript', src="./build.js", charset="utf-8")
